<div class="center hero-unit">
  <h1>Musicguruz</h1>

  <h2 class="center">
		Learn from amazing musicians
  </h2>

  <%= link_to "Browse Teachers!", browse_path, class: "btn btn-large btn-primary" %>
</div>

<div>
	<h2>
		How it works
	</h2>
	<div class="row" id="howitworks">
		<div class="span3">
			<p>Find an inspiring teacher</p>
			Browse our teachers to find one who makes you want to spend all day practising
		</div>
		<div class="span3">
			<p>Work with your teacher online</p>
			Our platform uses the latest high definition technology to achieve high quality video and audio
		</div>
		<div class="span3">
			<p>Review your lesson</p>
			Don't miss a single nugget - you can record your lesson and review it as many times as you like
		</div>
		<div class="span3">
			<p>Do your homework!</p>
			Record your performances, share them online, and get feedback from your teacher and other students
		</div>
	</div>
</div>

<div>
	<h2>
		Check out our teachers! What's your vibe?
	</h2>

	<div class="row center">
		<div class="span3">
			<%= link_to "Rock", browse_path %>
		</div>
		<div class="span3">
			<%= link_to "Jazz", browse_path %>
		</div>
		<div class="span3">
			<%= link_to "Blues", browse_path %>
		</div>
		<div class="span3">
			<%= link_to "Pop", browse_path %>
		</div>
	</div>

</div>
